<div class="container mb-3">
  <div class="navbar border-bottom">
    <h1>Restaurants</h1>
      <div>
        <%= link_to 'Add new restaurant', new_restaurant_path %>
      </div>
  </div>
  <% @restaurants.each do |restaurant| %>
  <div class="restaurant_card">
    <div>
      <p style="margin: 0"><%= restaurant.name %></p><br/>
      <p style="margin: 0">Addresss: <%= restaurant.address %></p><br/>
    </div>
    <div>
      <p style="margin: 0">Category: <%= restaurant.category %></p><br/>
      <p style="margin: 0"><%= link_to 'Details', restaurant_path(restaurant) %></p>
    </div>
  </div>
  <% end %>
</div>
